.FavoritesCity { margin-top: 38px;}
.FavoritesCity .col-md-5ths { padding: 0 40px;}
.FavoritesCity .city { border: 1px solid; }
.FavoritesCity .city .degrees { font-size: 18px;}
.FavoritesCity .city h4 { padding: 30px 0;}